exported-artifacts/
tmp/
.wine/
.local
.wget-hsts
./mocker*
.pytest_cache
.vscode
.idea
.pki
.config/
vwi/
spice/
qemu-ga/
*/__pycache__

# Visual Studio build artifacts
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
