<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<?include constants.wxi ?>
    <Fragment>
        <Property Id="DirectoryProperty" Value="1" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="$(var.PlatformProgramFilesFolder)">
                <Directory Id="INSTALLERDIR" Name="Virtio-Win">
                    <Directory Id="BALLOON" Name="Balloon"/>
                    <Directory Id="NETWORK" Name="Network"/>
                    <Directory Id="PVPANIC" Name="Pvpanic"/>
                    <Directory Id="FWCFG" Name="Fwcfg"/>
                    <Directory Id="QEMUPCISERIAL" Name="Qemupciserial"/>
                    <Directory Id="VIOINPUT" Name="Vioinput"/>
                    <Directory Id="VIORNG" Name="Viorng"/>
                    <Directory Id="VIOSCSI" Name="Vioscsi"/>
                    <Directory Id="VIOSERIAL" Name="Vioserial"/>
                    <Directory Id="VIOSTOR" Name="Viostor"/>
                    <Directory Id="VIOFS" Name="VioFS"/>
                    <Directory Id="VIOGPUDO" Name="Viogpudo"/>
                    <Directory Id="VIOMEM" Name="Viomem"/>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
</Wix>
