<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<?include constants.wxi ?>
    <Fragment>
        <Property Id="FeatureProperty" Value="1" />
        <Feature Id='FE_balloon_driver' Title='Balloon' Level='1'
                Description='Virtio-balloon is used to control the amount of memory a virtual machine actually accesses. It offers improved memory overcommitment.'>
                <ComponentGroupRef Id='CMPG_balloon_driver' />
        </Feature>
        <Feature Id='FE_network_driver' Title='Network' Level='1'
                Description='Paravirtualized network driver provides enhanced performance over emulated devices.'>
                <ComponentGroupRef Id='CMPG_netkvm_driver' />
        </Feature>
        <Feature Id='FE_pvpanic_driver' Title='Pvpanic' Level='1'
                Description='QEMU pvpanic device driver'>
                <ComponentGroupRef Id='CMPG_pvpanic_driver' />
        </Feature>
        <Feature Id='FE_fwcfg_driver' Title='Fwcfg' Level='1'
                Description='FWCfg device driver'>
                <ComponentGroupRef Id='CMPG_fwcfg_driver' />
        </Feature>
        <Feature Id='FE_qemupciserial_driver' Title='Qemupciserial' Level='1'
                Description='QEMU PCI serial device driver'>
                <ComponentGroupRef Id='CMPG_qemupciserial_driver' />
        </Feature>
        <Feature Id='FE_vioinput_driver' Title='Vioinput' Level='1'
                Description='VirtIO Input Driver'>
                <ComponentGroupRef Id='CMPG_vioinput_driver' />
        </Feature>
        <Feature Id='FE_viorng_driver' Title='Viorng' Level='1'
                Description='VirtIO RNG device driver'>
                <ComponentGroupRef Id='CMPG_viorng_driver' />
        </Feature>
        <Feature Id='FE_vioscsi_driver' Title='Vioscsi' Level='1'
                Description='VirtIO SCSI pass-through controller'>
                <ComponentGroupRef Id='CMPG_vioscsi_driver' />
        </Feature>
        <Feature Id='FE_vioserial_driver' Title='Vioserial' Level='1'
                Description='VirtIO Serial device driver'>
                <ComponentGroupRef Id='CMPG_vioserial_driver' />
        </Feature>
        <Feature Id='FE_viostor_driver' Title='Viostor' Level='1'
                Description='Virtio Block driver'>
                <ComponentGroupRef Id='CMPG_viostor_driver' />
        </Feature>
        <Feature Id='FE_viofs_driver' Title='Viofs' Level='1'
                Description='Virtio File System driver'>
                <ComponentGroupRef Id='CMPG_viofs_driver' />
        </Feature>
        <Feature Id='FE_viogpudo_driver' Title='Viogpudo' Level='1'
                Description='Virtio GPU DOD driver'>
                <ComponentGroupRef Id='CMPG_viogpudo_driver' />
        </Feature>
        <Feature Id='FE_viomem_driver' Title='Viomem' Level='1'
                Description='Virtio Memory driver'>
                <ComponentGroupRef Id='CMPG_viomem_driver' />
        </Feature>
    </Fragment>
</Wix>
