<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
<?include constants.wxi ?>
    <Fragment>
        <Property Id="InstallSequenceProperty" Value="1" />
        <InstallUISequence>
            <Custom Action='CA_InvokeUninstallWGT' After="CostFinalize" Condition="REGISTRYSEARCH_OLD_WGT_UNINSTALL_PATH" />
            <Custom Action='CA_OldInstallerError' After="CA_InvokeUninstallWGT" Condition="REGISTRYSEARCH_OLD_WGT_UNINSTALL_PATH" />
        </InstallUISequence>
        <InstallExecuteSequence>
            <AllocateRegistrySpace Condition="NOT Installed" />
            <Custom Action='CA_RestoreVIOConfig' Before='InstallFinalize' Condition="NOT Installed" />
            <Custom Action='CA_RestoreVIOConfigProperty' Before='CA_RestoreVIOConfig' />
            <Custom Action='CA_SaveVIOConfig' After='InstallInitialize' Condition='Installed AND REMOVE="ALL"' />
            <Custom Action='CA_SaveVIOConfigProperty' Before='CA_SaveVIOConfig' />
            <Custom Action='CA_RollbackRestoreVIOConfig' After="RemoveFiles" Condition="NOT Installed" />
            <Custom Action='CA_RollbackRestoreVIOConfigProperty' Before='CA_RollbackRestoreVIOConfig' />
            <Custom Action='CA_ScheduleReboot' After='InstallFinalize' Condition='REMOVE&lt;&gt;"ALL" AND REINSTALL&lt;&gt;"" AND REINSTALLMODE&lt;&gt;""' />
        </InstallExecuteSequence>
    </Fragment>
</Wix>
