<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<?include constants.wxi ?>
    <Fragment>
        <Property Id="InstallSequenceProperty" Value="1" />
        <InstallUISequence>
            <Custom Action='CA_InvokeUninstallWGT' After="CostFinalize">
                REGISTRYSEARCH_OLD_WGT_UNINSTALL_PATH
            </Custom>
            <Custom Action='CA_OldInstallerError' After="CA_InvokeUninstallWGT">
                REGISTRYSEARCH_OLD_WGT_UNINSTALL_PATH
            </Custom>
        </InstallUISequence>
        <InstallExecuteSequence>
            <AllocateRegistrySpace>NOT Installed</AllocateRegistrySpace>
            <Custom Action='CA_RestoreIPConfig' Before='InstallFinalize'>NOT Installed</Custom>
            <Custom Action='CA_RestoreIPConfigProperty' Before='CA_RestoreIPConfig'></Custom>
            <Custom Action='CA_RestoreVIOConfig' Before='InstallFinalize'>NOT Installed</Custom>
            <Custom Action='CA_RestoreVIOConfigProperty' Before='CA_RestoreVIOConfig'></Custom>
            <Custom Action='CA_SaveVIOConfig' After='InstallInitialize'>Installed AND REMOVE="ALL"</Custom>
            <Custom Action='CA_SaveVIOConfigProperty' Before='CA_SaveVIOConfig'></Custom>
        </InstallExecuteSequence>
    </Fragment>
</Wix>
