<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:dinst='http://www.redhat.com/DrvInstExt'>

     <?include constants.wxi ?>

      <Product Id="*"
            Name="Virtio-win-driver-installer"
            Language="1033"
            Version="$(var.Version)"
            Manufacturer="Red Hat, Inc."
            UpgradeCode="$(var.UpgradeCode)">
            <Package Id="*"
                  InstallerVersion="200"
                  Compressed="yes"
                  InstallScope="perMachine"
                  Description="Virtio-win installer for drivers"/>
            <PropertyRef Id="$(var.LaunchCondition)" />
            <PropertyRef Id="LaunchConditionsSupportedOS" />
            <PropertyRef Id="Set_ProductName" />
            <PropertyRef Id="Set_CurrentBuildNumber" />
            <PropertyRef Id="Set_Old_WGT_props" />
            <MajorUpgrade 
                  DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                  Schedule="afterInstallInitialize" />
            <UIRef Id="WixUI_FeatureTree" />
            <WixVariable Id="WixUIBannerBmp" Value="graphics/horizontal_banner.bmp" />
            <WixVariable Id="WixUIDialogBmp" Value="graphics/background.bmp" />
            <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
            <Icon Id="icon.ico" SourceFile="graphics/icon.ico"/>
            <Property Id="ARPPRODUCTICON" Value="icon.ico" />
            <MediaTemplate EmbedCab="yes" />
            <PropertyRef Id="DirectoryProperty" />
            <PropertyRef Id="FeatureProperty" />
            <PropertyRef Id="InstallSequenceProperty" />
      </Product>
</Wix>
