<?xml version='1.0' encoding='UTF-8'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'
     xmlns:difx='http://schemas.microsoft.com/wix/DifxAppExtension'>
<?include ../../constants.wxi ?>
<?include ./vioserial.wxi ?>

    <Fragment>
        <ComponentGroup Id="CMPG_vioserial_driver" Directory="$(var.destDirName)">
        <?if $(sys.BUILDARCH) = "x64" ?>
            <ComponentGroupRef Id='CMPG_WinServer2016_$(var.driverName)' />
            <ComponentGroupRef Id='CMPG_WinServer2019_$(var.driverName)' />
            <ComponentGroupRef Id='CMPG_WinServer2022_$(var.driverName)' />
            <ComponentGroupRef Id='CMPG_Win10x64_$(var.driverName)' />
            <ComponentGroupRef Id='CMPG_Win11x64_$(var.driverName)' />
        <?else ?>
            <ComponentGroupRef Id='CMPG_Win10x86_$(var.driverName)' />
        <?endif ?>
        </ComponentGroup>
    </Fragment>
</Wix>
